# Thanks https://github.com/patrickloeber/python-github-action-template
name: daily db updates

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *' # every day 5am UTC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute py script # run src/data/db_update.py
        env:
          SSHFS_HOST: ${{ secrets.SSHFS_HOST }}
          SSHFS_PORT: ${{ secrets.SSHFS_PORT }}
          SSHFS_USERNAME: ${{ secrets.SSHFS_USERNAME }}
          SSHFS_PASSWORD: ${{ secrets.SSHFS_PASSWORD }}
          DB_REMOTE_DIR: ${{ secrets.DB_REMOTE_DIR }}
          VULNERS_API_KEY: ${{ secrets.VULNERS_API_KEY }}
        run: python src/data/db_update.py
          
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add status.log
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 
